CLIENT_HTTP='http'
CLIENT_IP='localhost'
CLIENT_PORT='3000'

CONTROLLER_HTTP='http'
CONTROLLER_IP='localhost'
CONTROLLER_PORT='5001'

REDIRECTER_HTTP='http'
REDIRECTER_IP='localhost'
REDIRECTER_PORT='5002'

NOTIFIER_HTTP='http'
NOTIFIER_HTTP='localhost'
NOTIFIER_HTTP='5003'